python-telegram-bot==20.7
python-dotenv==1.2.2
yt-dlp==2026.3.17
Pyrogram==2.0.106
PySocks==1.7.1
httpx==0.25.2
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiofiles==0.8.0
pydub==0.25.1
numpy==1.26.4
mutagen==1.45.1
shazamio==0.3.0